*{
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
:root {
    --green:rgb(85, 180, 149);
}
body{
    background-color: rgb(55, 55, 55);
}
#homescreen{
    margin-top: 40px;
}
#timer-div{
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 10px;
    float: right;
    margin-right: 50px;
    margin-bottom: 200px;
    background-color: var(--green);
    font-size: 20px;
}
.welcome{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: both;
}
.para{
    text-align: center;
    width: 70%;
    margin-top: 50px;
}
.para p{
    font-size: 20px;
}
.welcome h1{
    font-size: 50px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.quiz{
    text-align: center;
    width: 70%;
}
#begin{
    margin-top: 50px;
    padding: 5px 20px;
    background-color: var(--green);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    border: 3px solid white;
}
#begin:hover{
    color: black;
    background-color: white;

}

/* NEXT SECTION */
#questionOne{
    display: none;
}
#questionTwo{
    display: none;
}
#questionThree{
    display: none;
}
#questionFour{
    display: none;
}
#questionFive{
    display: none;
}